/metamodeldata/
/rawruntimes/
/results/
/runtimes/
/workdata/
/workdata-backup-2020-08-06/
/runtimes_all_default_nooutliers_BACKUP_24528.csv
/runtimes_all_default_nooutliers_BACKUP_24617.csv
/runtimes_all_default_nooutliers_BACKUP_24784.csv
/runtimes_all_default_nooutliers_BASE_24528.csv
/runtimes_all_default_nooutliers_BASE_24617.csv
/runtimes_all_default_nooutliers_BASE_24784.csv
/runtimes_all_default_nooutliers_LOCAL_24528.csv
/runtimes_all_default_nooutliers_LOCAL_24617.csv
/runtimes_all_default_nooutliers_LOCAL_24784.csv
/runtimes_all_default_nooutliers_REMOTE_24528.csv
/runtimes_all_default_nooutliers_REMOTE_24617.csv
/runtimes_all_default_nooutliers_REMOTE_24784.csv
/compressiontest/
